

ul{
  list-style: none;
  margin-right: 50px;
  padding: 0;
  display: flex;
  flex: 5;
  justify-content: right;
}

a{
  text-decoration: none !important;
}

span {
  display: flex;
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  height: 70px;
  padding: 5px;
  z-index: 99;
  padding: 20px 0px;
  background-color: white;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  text-align: center;
}

.toolbar .logo {
  margin: auto 50px;
  float: left;
  color: #343a40;
  font-weight: 700;
  font-size: 22px;
  padding: 0px 0;
  letter-spacing: 1px;
  font-family: "Nunito", sans-serif;

}

.toolbar .nav-item .nav-link {
  display: flex;
  align-items: center;
  color: #343a40;
  font-size: 13px;
  background-color: transparent !important;
  margin: 0 8px;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Nunito", sans-serif;
}

.toolbar .nav-item .nav-link:hover, .toolbar .nav-item .nav-link:focus, .toolbar .nav-item .nav-link .active {
  color: #a092c5;
}


.menu_items {
  display: flex;
  flex-direction: column;
}
.menu_items .nav-link {
  display: flex;
  align-items: center;
  color: #343a40;
  font-size: 13px;
  background-color: transparent !important;
  margin:0 8px;
  padding: .5rem;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.5s;
  font-family: "Nunito", sans-serif;
}

.menu_items .nav-link:hover, .menu_items .nav-link:focus, .menu_items .nav-link .active {
  color: #a092c5;
}


#menu_button {
  display: none;
}

/* Small screens */
@media screen and (max-width: 800px) {
  .toolbar ul {
    display: none;
  }

  span button {
    display: none;
  }

  #menu_button {
    float: right;
    display: block;
  }

  .toolbar span {
    padding: 2rem 0;
    height: 70px;
  }
}

