<footer class="footer">
  <a routerLink="/" class="footer-logo text-black" mat-button>Developer Profile</a>

  <p>Find me using the following social links</p>

  <div class="footer-social">

    <a href="https://twitter.com/_smithjilks" class="fa fa-twitter"></a>
    <a href="https://www.instagram.com/shirivwa/" class="fa fa-instagram"></a>
    <a href="https://www.linkedin.com/in/jilks-smith-56ba74173/" class="fa fa-linkedin"></a>
    <a href="https://medium.com/@smithjilks" class="fa fa-medium"></a>

  </div>
</footer>
