<section id="home" class="hero-area bg-half-120 " style="background-image:url('../../assets/images/home-shape.png')">

  <article>
    <h1>Lishe</h1>

    <p>Sharing Food is Caring</p>

    <a mat-stroked-button style="width: fit-content;" href="https://github.com/smithjilks/Lishe/tree/android-dev">
      Project Link  
      <mat-icon style="margin-left: 2rem;">cloud_download</mat-icon>
    </a>

  </article>


  <aside>
    <img alt="" src="../../assets/images/home-image.svg"/>

  </aside>

</section>



<!--About section-->

<section id="about">

  <h2>About</h2>

  <div class="cards-container">


    <div class="inspiration-content">
      <p>
        Everyday food is wasted yet so many people go hungry. 
        In Kenya alone food loss and wastage stands at Ksh 72 Billion annually. 
        UNEP and Waste Resources Action Program estimates that every Kenyan throws away 99kg (281 pounds) every year 
        yet one in every three Kenyans is found poor. 
        
        <br>
        Globally the wastage stands at $940 billion which is estimated 
        to be a third of the global food production. 
        Lishe tries to solve this problem by allowing users with excess food to share it with the food insecure. 
        This can be done at an individual level, through charity organisations 
        or through businesses such as restaurants and supermarkets.

        <br>

        Lishe does not aggregate demand for food for producers(or processors) and farmers. 
        It is not an e-commerce platform. 

      </p>
    </div>


  
    <img src="https://res.cloudinary.com/people-matters/image/upload/q_auto,f_auto/v1544547341/1544547340.jpg" width="80px"/>

  </div>

</section>



<!--features section-->

<section id="features">

  <h2>Features</h2>

  <p> What does Lishe have to offer?</p>


  <div class="features-cards-container">


    <mat-card class="mat-elevation-z3" >
      <img src="../../assets/images/features/listings.jpg" alt="">

      <mat-card-content>
        <mat-card-title> Browse Food Listings</mat-card-title>
        <mat-card-subtitle> Find what you like/ need</mat-card-subtitle>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z3" >
      <img src="../../assets/images/features/history.jpg" alt="">

      <mat-card-content>
        <mat-card-title> Your History </mat-card-title>
        <mat-card-subtitle> Track your requests </mat-card-subtitle>
      </mat-card-content>

    </mat-card>

    <mat-card class="mat-elevation-z3" >
      <img src="../../assets/images/features/food details.jpg" alt="">

      <mat-card-content>
        <mat-card-title> Listing Details</mat-card-title>
        <mat-card-subtitle> View food details to avoid allergies, etc </mat-card-subtitle>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z3" >
      <img src="../../assets/images/features/rate food.jpg" alt="">

      <mat-card-content>
        <mat-card-title> Rate Listing</mat-card-title>
        <mat-card-subtitle> Give feedback to improve service</mat-card-subtitle>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z3" >
      <img src="../../assets/images/features/create.jpg" alt="">

      <mat-card-content>
        <mat-card-title> Create</mat-card-title>
        <mat-card-subtitle> Don't waste, share it </mat-card-subtitle>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z3" >
      <img src="../../assets/images/features/profile.jpg" alt="" >

      <mat-card-content>
        <mat-card-title> Profile</mat-card-title>
        <mat-card-subtitle> Your information </mat-card-subtitle>
      </mat-card-content>
    </mat-card>


  </div>

</section>






<!--contact section-->

<section id="contact">
  <h2>Let's Chat</h2>

  <p> Don't hesitate to reach to out...</p>



  <!--contact row-->
  <div class="contact-row">
    <!--contact item-->

    <div class="contact-item">
      <mat-icon>phone</mat-icon>

      <h5> Phone</h5>

      <p>Leave a text, if urgent call!</p>

      <a href="tel:+254710618227">0710-618-227</a>

    </div>

     <!--contact item-->
     <div class="contact-item">
      <mat-icon>email</mat-icon>

      <h5> Email</h5>

      <p>Don't spam, be a hun...</p>

      <a href="mailto:smithjilks@gmail.com">smithjilks@gmail.com</a>

    </div>

     <!--contact item-->
     <div class="contact-item">
      <mat-icon>location_on</mat-icon>

      <h5> Location</h5>

      <p>Nairobi, Kenya</p>

      <a href="https://www.google.com/maps/place/Nairobi/@-1.3032051,36.707307,11z/data=!3m1!4b1!4m5!3m4!1s0x182f1172d84d49a7:0xf7cf0254b297924c!8m2!3d-1.2920659!4d36.8219462">View on Google Map</a>

    </div>

  </div>

  <div class=contact-row>

  
  </div>

</section>




