
#home {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hero-area {
  background-size: cover;
  background-position: center center;
}

.bg-half {
  padding: 160px 0px;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
  background-position: center center;
}

#home article {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 70px;
}

#home article h1 {
  font-size: 57px;
  letter-spacing: -0.5px;
  line-height: 1.2;
  font-family: "Nunito", sans-serif;
  color: #161c2d !important;
  line-height: 1.5;
  font-weight: 600;

}

#home article p {
  width: 80%;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #8492a6 !important;
}

#home article a {
  width: fit-content;
  padding: 5px 20px;
  color: #a092c5;
  border: 1px solid #a092c5;
  border-radius: 7px;
}

#home aside {
  display: flex;
  flex: 2;
  justify-content: left;
}


/* Services Section */

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;

}

#about h2 {
  margin-top: 5rem;
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: 26px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

#about p {
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #8492a6 !important;
}

#about .cards-container {
  width: 100%;
  margin: auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#about .cards-container .inspiration-content {
  width: 40%;
  height: auto;
  margin: 1rem;
  padding: 0;

}

#about .cards-container .inspiration-content p{
  line-height: 2.5;

}



#about .cards-container img{
  width: 45%;
  opacity: 0.5;
}






/* features section */

#features {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/images/pattern.png);

}

#features h2 {
  margin-top: 5rem;
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: 26px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

#features p {
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #8492a6 !important;
}

#features .features-cards-container {
  width: 100%;
  margin: auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#features .features-cards-container mat-card {
  width: 400px;
  height: auto;
  margin: 2rem auto;
  padding: 0;
  border-radius: 10px;
}

#features .features-cards-container mat-card img {
  width: 400px;
  margin: 0 auto;
}

#features .features-cards-container mat-card mat-card-title {
  margin: 1rem;
  letter-spacing: -0.5px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  color: #a092c5;
}


#features .features-cards-container mat-card mat-card-subtitle {
  margin: 1rem;
  letter-spacing: -0.5px;
  line-height: 1.2;
  font-weight: 500;
  font-size: 18px;
  font-family: "Nunito", sans-serif;

}

.fa {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 25px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin-right: 1rem;
  border-radius: 50%;
  color: black;
}

.fa:hover {
    opacity: 0.7;
    background-color: #a092c5;
    border: 1px solid #a092c5;
    color: white;
}


/*Contact section*/
#contact {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#contact h2 {
  margin-top: 5rem;
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: 26px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

#contact p {
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #8492a6 !important;
}

#contact .contact-row {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#contact .contact-row .contact-item {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#contact .contact-item h5 {
  margin-top: 1rem;
  font-size: 30px;
  letter-spacing: -0.5px;
  line-height: 26px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

#contact .contact-item p {
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #8492a6 !important;
}

#contact .contact-item a {
  margin-bottom: 1rem;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  color: #a092c5 !important;
  text-decoration: none;
}





@media screen and (max-width: 600px) {

 

  /* features section */

  #features .features-cards-container mat-card {
    width: 80%;
    display: flex;
    flex-direction: column;
  }


  #about .cards-container {
    flex-direction: column;
  }


}



